<h1>Today's Sales</h1>
<table>
  <thead>
    <tr>
      <th>Stock</th>
      <th>Quantity</th>
      <th>Total Price</th>
    </tr>
  </thead>
  <tbody>
 <% @today_sales.each do |sale| %>
  <% stock = Stock.find_by_id(sale.stock_id) %>
  <tr>
    <td><%= stock ? stock.name : 'Stock not found' %></td>
    <td><%= sale.quantity %></td>
    <td><%= sale.total_price %></td>
    <td><%= sale.created_at.in_time_zone('Brasilia').strftime('%d/%m/%Y - %H:%M:%S') %></td>  </tr>
  <% end %>
 <br>
      <td>Today Balance <%= @today_balance %></td>
  </tbody>
</table>

<h1>Sales Dashboard</h1>
<table>
  <thead>
    <tr>
      <th>Month</th>
      <th>Total Balance</th>
      <th>Total Items Sold</th>
    </tr>
  </thead>
  <tbody>
    <% sales.each do |month, totals| %>
      <tr>
        <td><%= month.strftime("%B %Y") %></td>
        <td><%= totals[0] %></td>
        
        <td><%= totals[1] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Export to Excel', dashboard_export_path(format: :xlsx) %>

<%= link_to 'Back to dashboard', dashboard_index_path %>