<h1>Today's Sales</h1>
<table class="sales-table">
  <thead>
    <tr>
      <th>Stock</th>
      <th>Quantity</th>
      <th>Total Price</th>
      <th>Date</th>
      <th>Payment Method</th>
    </tr>
  </thead>
  <tbody>
    <% @today_sales.each do |sale| %>
      <% stock = Stock.find_by_id(sale.stock_id) %>
      <tr>
        <td><%= stock ? stock.name : 'Stock not found' %></td>
        <td><%= sale.quantity %></td>
        <td><%= sale.total_price %></td>
        <td><%= sale.created_at.in_time_zone('Brasilia').strftime('%d/%m/%Y - %H:%M:%S') %></td>
        <td><%= sale.payment_method.capitalize %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p class="balance">Today Balance: <%= @today_balance %></p>

<h1>Sales Dashboard</h1>
<table class="sales-table">
  <thead>
    <tr>
      <th>Month</th>
      <th>Total Balance</th>
      <th>Total Items Sold</th>
    </tr>
  </thead>
  <tbody>
    <% @sales_totals_by_month.each do |month, (total_price, total_quantity)| %>
      <tr>
        <td><%= month.strftime('%B %Y') %></td>
        <td><%= total_price %></td>
        <td><%= total_quantity %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="button-container">
  <%= button_to 'Export Sales to Excel', dashboard_export_path, method: :get, class: 'btn btn-primary' %>
  <%= link_to 'Home', root_path, class: 'btn btn-secondary' %>
</div>

<style>
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
  }

  h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }

  .sales-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }

  .sales-table th, .sales-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }

  .sales-table th {
    background-color: #007bff;
    color: white;
  }

  .sales-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .sales-table tr:hover {
    background-color: #ddd;
  }

  .balance {
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 20px;
  }

  .button-container {
    text-align: center;
    margin-top: 20px;
  }

  .btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 5px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
  }

  .btn-primary {
    background-color: #007bff;
    color: white;
  }

  .btn-primary:hover {
    background-color: #0056b3;
  }

  .btn-secondary {
    background-color: #6c757d;
    color: white;
  }

  .btn-secondary:hover {
    background-color: #5a6268;
  }
</style>