<h1>Your Beehives</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Beehive Amount</th>
      <th>Honey Amount</th>
      <th>Can Collect?</th>
    </tr>
  </thead>
  <tbody>
    <% @beehive_groups.each do |beehive| %>
      <tr>
        <td><%= beehive.name %></td>
        <td><%= beehive.beehive_amount %></td>
        <td><%= beehive.honey_amount %> kg</td>
        <td><%= beehive.can_collect? ? 'Yes' : 'No' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Create new Beehive', beehives_path %>