<!-- app/views/clients/new.html.erb -->
<h1>New Client</h1>

<%= form_with(model: @clients, local: true) do |form| %>
  <div>
    <%= form.label :name, 'Name' %>
    <%= form.text_field :name %>
     <%= form.label :balance, 'Your user_id' %>
    <%= form.text_field :user_id %>
  </div>

  <%= form.submit 'Create Client' %>
<% end %>