<h1>Your Beehives</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Beehive Amount</th>
      <th>Honey Amount</th>
      <th>is Full?</th>
      <th>Created At</th>  
      <th>Last time you collected </th>      
    </tr>
  </thead>
  <tbody>
    <% @beehives_groups.each do |beehive| %>
      <tr>
        <td><%= beehive.name %></td>
        <td><%= beehive.beehive_amount %></td>
        <td><%= beehive.calculate_honey_amount %> kg</td>
        <td><%= beehive.isFull? ? 'Yes' : 'No' %></td>
          <td><%= beehive.created_at.strftime("%d/%m/%Y %H:%M") %></td>
          <td><%= beehive.updated_at.strftime("%d/%m/%Y %H:%M") %></td>
           <td>
             <%= form_with url: collect_beehives_group_path(beehive), method: :post do %>
             <%= submit_tag 'Collect' %>
           <% end %>
  </td>
      </tr>
       <td>
        <%= form_with url: beehives_group_path(beehive), method: :delete do %>
         <%= submit_tag 'Delete Beehive' %>
        <% end %>
    </td>
    <% end %>
  </tbody>
</table>

<%= link_to 'Create new Beehive Group', new_beehives_group_path %>